In [1]:
import pandas as pd

In [2]:
produtos=pd.read_csv('produtos.csv')
vendas=pd.read_csv('vendas.csv')

In [3]:
produtos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      32951 non-null  int64
 1   ID produto                      32951 non-null  object
 2   Categoria                       32341 non-null  object
 3   comprimento do nome             32341 non-null  float64
 4   Comprimento da descrição        32341 non-null  float64
 5   Quantidade de fotos do produto  32341 non-null  float64
 6   Peso do produto                 32949 non-null  float64
 7   comprimento do produto(cm)      32949 non-null  float64
 8   product_height_cm               32949 non-null  float64
 9   Largura do produto              32949 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.5+ MB

In [4]:
vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        3095 non-null   int64
 1   ID vendas         3095 non-null   object
 2   Codigo prefixado  3095 non-null   int64
 3   Cidade da venda   3095 non-null   object
 4   Estado da venda   3095 non-null   object
dtypes: int64(2), object(3)
memory usage: 121.0+ KB

In [5]:
produtos=produtos.drop(['Unnamed: 0','comprimento do produto(cm)','Peso do produto','product_height_cm','Largura do produto'],axis=1)

In [6]:
vendas=vendas.drop(['Unnamed: 0'],axis=1)

In [7]:
produtos.head()

,ID produto,Categoria,comprimento do nome,Comprimento da descrição,Quantidade de fotos do produto
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0

In [10]:
emissoressatisfacao=pd.concat([vendas,produtos]).sort_index()

In [11]:
emissoressatisfacao.to_csv('emissores de satisfação.csv')