In [1]:
import pandas as pd

In [2]:
ordens=pd.read_csv('ordens.csv')
ordemitens=pd.read_csv('ordemitens.csv')
pagamentos=pd.read_csv('pagamentos.csv')

In [3]:
ordens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                99441 non-null  int64
 1   ID ordem                  99441 non-null  object
 2   ID cliente                99441 non-null  object
 3   Status da ordem           99441 non-null  object
 4   Hora de compra            99441 non-null  object
 5   Pedido aprovado em        99281 non-null  object
 6   Data pedido entregue      97658 non-null  object
 7   Data de entrega           96476 non-null  object
 8   Data de entrega estimada  99441 non-null  object
dtypes: int64(1), object(8)
memory usage: 6.8+ MB

In [4]:
ordemitens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            112650 non-null  int64
 1   ID ordem              112650 non-null  object
 2   ID item               112650 non-null  int64
 3   ID produto            112650 non-null  object
 4   ID venda              112650 non-null  object
 5   Data limite do envio  112650 non-null  object
 6   pre√ßo                 112650 non-null  float64
 7   Valor do Frete        112650 non-null  float64
dtypes: float64(2), int64(2), object(4)
memory usage: 6.9+ MB

In [5]:
pagamentos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 6 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            103886 non-null  int64
 1   ID ordem              103886 non-null  object
 2   Pagamento sequencial  103886 non-null  int64
 3   Tipo de pagameto      103886 non-null  object
 4   Parcelamento          103886 non-null  int64
 5   Valor do pagamento    103886 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 4.8+ MB

In [6]:
ordens=ordens.drop(['Unnamed: 0','Data pedido entregue'],axis=1)

In [7]:
ordemitens=ordemitens.drop(['Unnamed: 0','ID item','Data limite do envio'],axis=1)

In [9]:
pagamentos=pagamentos.drop(['Unnamed: 0','Pagamento sequencial'],axis=1)

In [11]:
ordemgeral=pd.merge(ordens,ordemitens,how='inner',on=['ID ordem'])

In [15]:
fatores_internos=pd.merge(ordemgeral,pagamentos,how='inner',on='ID ordem')

In [16]:
fatores_internos.to_csv('fatores-internos.csv')