In [1]:
import pandas as pd

In [2]:
clientes=pd.read_csv('Lista-Clientes.csv',encoding='UTF-8')
comentarios=pd.read_csv('comentarios.csv',encoding='UTF-8')
localizacao=pd.read_csv('geolocalizacao.csv',encoding='UTF-8')

In [3]:
clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        99441 non-null  int64
 1   Estado            99441 non-null  object
 2   Cidade            99441 non-null  object
 3   Codigo Prefixado  99441 non-null  int64
 4   ID cliente        99441 non-null  object
 5   ID do cliente     99441 non-null  object
dtypes: int64(2), object(4)
memory usage: 4.6+ MB

In [4]:
comentarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            100000 non-null  int64
 1   ID comentario         100000 non-null  object
 2   ID ordem              100000 non-null  object
 3   Avaliação             100000 non-null  int64
 4   Titulo do comentario  11715 non-null   object
 5   comentario            41753 non-null   object
 6   Data de criacao       100000 non-null  object
 7   Hora da respostas     100000 non-null  object
dtypes: int64(2), object(6)
memory usage: 6.1+ MB

In [5]:
localizacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Unnamed: 0        1000163 non-null  int64
 1   Estado            1000163 non-null  object
 2   Cidade            1000163 non-null  object
 3   Codigo Prefixado  1000163 non-null  int64
 4   Latitude          1000163 non-null  float64
 5   Longitude         1000163 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 45.8+ MB

In [6]:
clientes=clientes.drop(['Unnamed: 0','ID do cliente'],axis=1)

In [7]:
comentarios=comentarios.drop(['Unnamed: 0','Data de criacao','Hora da respostas'],axis=1)

In [8]:
localizacao=localizacao.drop(['Unnamed: 0'],axis=1)

In [9]:
cliente_loc=pd.merge(clientes,localizacao,how='inner',on=['Estado','Cidade','Codigo Prefixado'])

In [10]:
medicao_satisfação=pd.concat([cliente_loc,comentarios]).sort_index()

In [11]:
medicao_satisfação.head()

,Estado,Cidade,Codigo Prefixado,ID cliente,Latitude,Longitude,ID comentario,ID ordem,Avaliação,Titulo do comentario,comentario
0,SP,franca,14409.0,861eff4711a542e4b93843c6dd7febb0,-20.509897,-47.397866,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5.0,NaN,NaN
1,SP,franca,14409.0,861eff4711a542e4b93843c6dd7febb0,-20.497396,-47.399241,NaN,NaN,NaN,NaN,NaN
2,SP,franca,14409.0,861eff4711a542e4b93843c6dd7febb0,-20.510459,-47.399553,NaN,NaN,NaN,NaN,NaN

In [12]:
medicao_satisfação.to_csv('medicao-satisfação.csv')

PermissionError: [Errno 13] Permission denied