In [1]:
import pandas as pd

In [2]:
traducaoprodutos=pd.read_csv('product_category_name_translation.csv')

In [3]:
traducaoprodutos.info()
traducaoprodutos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [4]:
traducaoprodutos=traducaoprodutos.rename(columns={'product_category_name':'Categoria','product_category_name_english':'Categoria ingles'})

In [5]:
traducaoprodutos.to_csv('traducao-categoria.csv')