In [1]:
import pandas as pd

In [2]:
Customers=pd.read_csv('olist_customers_dataset.csv',encoding='UTF-8')
Customers.info()
Customers.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [3]:
Customers=Customers.rename(columns={
    'customer_id':'ID do cliente',
    'customer_unique_id':'ID cliente',
    'customer_zip_code_prefix':'Codigo Prefixado',
    'customer_city':'Cidade',
    'customer_state':'Estado'})

In [4]:
Customers.head()
Customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID do cliente     99441 non-null  object
 1   ID cliente        99441 non-null  object
 2   Codigo Prefixado  99441 non-null  int64
 3   Cidade            99441 non-null  object
 4   Estado            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [5]:
Clientes=Customers.loc(axis=1)['Estado','Cidade','Codigo Prefixado','ID cliente','ID do cliente']

In [7]:
Clientes.head()

,Estado,Cidade,Codigo Prefixado,ID cliente,ID do cliente
0,SP,franca,14409,861eff4711a542e4b93843c6dd7febb0,06b8999e2fba1a1fbc88172c00ba8bc7
1,SP,sao bernardo do campo,9790,290c77bc529b7ac935b93aa66c333dc3,18955e83d337fd6b2def6b18a428ac77
2,SP,sao paulo,1151,060e732b5b29e8181a18229c7b0b2b5e,4e7b3e00288586ebd08712fdd0374a03
3,SP,mogi das cruzes,8775,259dac757896d24d7702b9acbbff3f3c,b2b6027bc5c5109e529d4dc6358b12c3
4,SP,campinas,13056,345ecd01c38d18a9036ed96c73b8d066,4f2d8ab171c80ec8364f7c12e35b23ad

In [10]:
Clientes.to_csv("Lista-Clientes.csv")